/* static/css/style.css */

.hover-row {
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    color: black;
}

.hover-row:hover {
    background-color: aqua;
}

.hover-row td img {
    display: block;
    width: auto; /* 비율 유지 */
}

td {
    padding: 0;
    vertical-align: middle;
}

td img {
    display: block;
    width: auto;
}

td hr {
    margin-left: 5px;
    width: 50px;
}

.nav_link {
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100px;
    font-size: larger;
    color: #eee;
    text-align: center;
    text-decoration: none;
    background-color: #2b5797;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.nav_link:hover {
    background-color: #ccc;
    padding: 8px 12px;
    border-radius: 8px;
    color: black;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15px;               
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 500px;
}

.menu-item img {
    width: 70px;
    height: 70;
    object-fit: cover;
    border-radius: 8px;
}