<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SnapCook_datail</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <div>
                <div style="font-size: 40px; padding-bottom: 10px;">SnapCook</div>
                <header>
                    <div>
                        <nav>
                            <div>
                                <a href="/" class="nav_link">Home</a>
                                {% if filename %}
                                <a href="/yolo/detection?file={{ filename }}" class="nav_link">Detection</a>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </header>
            </div>
            {% if food %}
            <h2>{{ food[0] }} 레시피</h2>
            <br>
            <div>
                <img src="{{ food[1] }}" width="400">
            </div>
            {% endif %}
            {% if result %}
            <div>
                <p style="font-size: 30px;">재료</p>
                <table>
                    {% for i in range(0, result[0]|length) %}
                    <tr>
                        <td style="border: none; border-bottom: 1px solid #ccc;">{{ result[0][i] }}&nbsp;</td>
                        <td style="border: none; border-bottom: 1px solid #ccc;">&nbsp;{{ result[1][i] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <p style="font-size: 30px;">요리 순서</p>
                <table>
                    {% for i in range(0, result[2]|length) %}
                    <tr>
                        <td style="border-right: 0px;"><img src="{{ result[4][i] }}" style="border-radius: 8px;" height="200"></td>
                        <td style="border: none; border-bottom: 1px solid #ccc;">
                            &nbsp;{{ result[2][i] }}<hr>
                            &nbsp;{{ result[3][i] }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </body>
    <script>
        const filename = {{ filename | tojson }};
    </script>
</html>