<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SnapCook</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <div class="style_font">SnapCook</div>
        <header>
            <div>
                <nav>
                    <div>
                        <a href="/">
                            <p  class="hover_font">Home</p>
                        </a>
                    </div>
                </nav>
            </div>
        </header>
        <div>
            <h2>요리 목록</h2>
            <form action="/snapcook" method="post"enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="전송">
            </form>
        </div>
        <div>
            {%if file %}
            <div>
                <img src="{{ url_for('static', filename='upload/'+file+'.jpg') }}" height="400">
            </div>
            <div>
                <button onclick="location.href='/yolo/detection?file={{file}}'">탐지 시작</button>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>